@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background: linear-gradient(68.15deg, #24232F 16.62%, #516A9B 85.61%);
    font-size: 100%;
}